body{
    background-image: url(../../Images/Never.png);
}
div.container{
    border: 5px black solid;
    border-radius: 10px;
    background-color: rgb(128, 128, 128, 90%);
}
img.navbar-brand{
    height: 100px;
    width: 100px;
}