body{
    background-image: url('../../Images/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#div_1{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(13, 102, 72);
    width: 50%;
    height: 500px;
    border-radius: 5px;
    padding: 10px;
}
#table_1{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}
#tr_1{
    width: 100%;
    height: 100px;
}
#td_1{
    width: 12%;
    height: 100px;
}
#td_2{
    width: 88%;
    height: 100%;
}
#span_1{
    font-size: 150%;
}
a.nav{
    font-size: 150%;
    color: red;
}
a.nav:hover{
    font-size: 150%;
    color: crimson;
}
a.nav:active{
    font-size: 150%;
    color: rgb(200, 5, 5);
}
a.nav:visited{
    font-size: 150%;
    color: rgb(230, 0, 0);
}
#div_2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: rgb(13, 102, 72);
    width: 50%;
    height: 15%;
    border-radius: 5px;
    padding: 10px;
}
#table_2{
    width: 100%;
    height: 100%;
    background-color: brown;
}
#tr_imgs{
    height: 100%;
}
#td_img1{
    background-color: chartreuse;
    height: 70%;
    width: 50%;
}
#td_img2{
    background-color:chocolate;
    height: 70%;
    width: 50%;
}