body{
    background-image: url('../../Images/Disc.jpg');
    background-size: 100%;
}
a.nav{
    font-size: 150%;
    color: red;
}
a.nav:hover{
    font-size: 150%;
    color: crimson;
}
a.nav:active{
    font-size: 150%;
    color: rgb(200, 5, 5);
}
a.nav:visited{
    font-size: 150%;
    color: rgb(230, 0, 0);
}
#table_about1{
    width: 100%;
    height: 120px;
}
img.navbar-brand{
    height: 100px;
    width: 100px;
}
#td_p1{
    height: 100px;
    width: 100px;
}
#td_p2{
    height: 100px;
}